html{
    background: #e4e3e3;
}
.header{
    background: #CAC7C7;
    padding: 0;
    margin: 0;
    height: 4rem;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr, 1fr;
}
.logohpng2{
    width: 150px;
    padding-left: 15px;
    grid-column: 1;
}
.opciones-navbar{
    grid-column: 2;
    margin: 15px 0 0 15px;
    text-align: end;
}
.nav-link{
    color:#e26a13 !important;
    
    
}
.nav-link:hover{
    color:  #d6570d !important; 
}