/* EStilos para CRUD de Productos  */
.AdminProductos{
    height: 100vh;
    background: #e4e3e3;

}
.container-adminProductos{
    background: rgb(0,0,0);
    background: linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(252,92,27,1) 75%);
    /* border-radius: 5px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    padding-bottom: 40px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
.productos-busqueda{
    /* background: #fff; */
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 100%;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    /* align-content: center;
    text-align: center;
    justify-content: center; */
}

.buscador-addProducts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    /* align-content: center; */
    /* width: 100%; */
    /* display: flex;
    flex-direction: column; */
    

}

.agregarProducto{
    /* margin: auto; */
    margin-top: 30px;
}
.search-input-productos{
    width: 50% !important;
    height: 41px;
    border-radius: 0 !important;
    border: 1px solid #777474;
}
#btn-search-productos{
    border: 1px solid #777474;
    background: #e7cf62;
    height: 41px;
    border-radius: 0 !important;
}
#btn-search-productos:hover{
    background: #eed875;
}
.btn-agregarProductos{
    background: #fc5c1b !important;
    border: 1px solid #fc5c1b;
}
.btn-agregarProductos:hover{
    background: #0000 !important;
    border: 1px solid #fc5c1b;
}
.productos-listado{
    min-height: 30rem;
    background: #fff;
    /* margin-top: 40px; */
    margin-bottom: 20px;
    /* border-radius: 5px; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}
/* Tabla de productos  */
.tabla-productos{
    width: 96% !important;
    margin-left: 2%;
    margin-bottom: 2%;
   
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
 
    
}
.titulo{
    border-bottom: 2px solid #fc5c1b;
    padding: 0 !important;
    
}
.titulo h2{
    margin: 0;
    padding: 0;
    color: #fff;
    background: #fc5c1b;
    width: 400px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

tbody{
    font-weight: 500;
}
.opciones-tabla{
    display: flex;     
    flex-direction: row;
    min-height: 100px;
    align-items: center;
   

}
.opciones-tabla button{
    width: 70px;
    height: 35px;
    font-size: 12px;
    margin-left: 10px;
}
.btn-atras{
    font-size: 64px !important;
    color: #fc5c1b;
}
.btn-atras:hover{
    /* font-size: 64px; */
    color: #000000;
    /* cursor: pointer; */
}


/* Estilos para Crud de usuarios */
.AdminUsuarios{
    height: 100vh;
    background: #e4e3e3;

}
.container-adminUsuarios{
    background: rgb(0,0,0);
    background: linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(252,92,27,1) 75%);
    /* border-radius: 5px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    padding-bottom: 40px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
.usuarios-busqueda{
    padding-top: 40px;
    /* background: #999696; */
    /* background: #fff; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    width: 100%;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    /* align-content: center;
    text-align: center;
    justify-content: center; */
}

.buscador-addUsers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    /* align-content: center; */
    /* width: 100%; */
    /* display: flex;
    flex-direction: column; */
    

}

.agregarUsuarios{
    /* margin: auto; */
    margin-top: 30px;
}
.search-input-usuarios{
    width: 50% !important;
    height: 41px;
    border-radius: 0 !important;
    border: 1px solid #777474;
}
#btn-search-usuarios{
    border: 1px solid #777474;
    background: #e7cf62;
    height: 41px;
    border-radius: 0 !important;
}
#btn-search-usuarios:hover{
    background: #eed875;

}
.btn-agregarUsuarios{
    background: #fc5c1b !important;
    border: 1px solid #fc5c1b;
    
}
.btn-agregarUsuarios:hover{
    background: #0000 !important;
    border: 1px solid #fc5c1b;
}
.usuarios-listado{
    min-height: 30rem;
    background: #fff;
    /* margin-top: 40px; */
    margin-bottom: 20px;
    /* border-radius: 5px; */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

/* Tabla de productos  */
.tabla-usuarios{
    width: 96% !important;
    margin-left: 2%;
    margin-bottom: 2%;
   
    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
 
    
}

.opciones-tabla-usuario{
    display: flex;     
    flex-direction: row;
   

}
.opciones-tabla-usuario button{
    width: 70px;
    height: 35px;
    font-size: 12px;
    margin-left: 10px;
}





/* Estilos para facturas  */
.AdminFacturas{
    height: 100vh;
    background: #e4e3e3;
    

}

.adminFactura-titulo{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 30px;
    /* color: #fc5c1b; */
}
.adminFactura-titulo ion-icon{
    font-size: 44px;
    color: #fc5c1b;
}
.adminFactura-titulo h2{
    font-size: 36px;
    margin-left: 12px;
}
.container-adminFactura{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}
.adminFactura{
    width: 100%;
    background: #fff;
    border: 1px solid #fc5c1b;
    min-height: 86vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

/* DISEÑO DE FACTURA  */
.headerProducto, .headerCliente{
    background: #fc5c1b;
    text-align: center;
    color: #fff;
    
}
.datos-cliente{
    height: 13rem;
    /* background: #e0dede; */
}



.subtotal-factura, .impuesto-factura, .total-factura{
    display: flex;
}
.impuesto-factura{
    border-bottom: 1px solid #fc5c1b;
}
.alineacion{
    /* background: chartreuse; */
    width: 100%;
    text-align: center;
}
/* Buscar usuario por ID  */
.contenedor-buscador-fact{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* text-align: center; */
    width: 100%;
    height: 45px;
   
}
.buscador-cliente-factura{
    width: 25%;
    margin-right: 5px;
}
.search-input-cliente-fact{
    height: 35px;
}
#btn-search-cliente-fact{
    background: #fc5c1b;
    height: 35px;
    
}
#btn-search-cliente-fact:hover{
    background: #f87f4f;
    /* height: 35px; */
    
}
#btn-search-cliente-fact ion-icon{
    color: #fff;
    /* height: 35px; */
    
}
/* Formulario del cliente  */
.form-factura-cliente{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 162px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    
    /* background: chartreuse; */
}
.form-factura-cliente input{
  width: 250px !important;
}

/* Seccion detalle del producto  */

.datos-producto{
    min-height: 17rem;
    /* background: #d1cccc; */
    border-bottom: 1px solid #fc5c1b;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-end; */
}
.footer-producto-fact{
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    width: 100%;

}
.contenedor-producto-factura{
    min-height: 14.7rem;

}
.titulos-productos-fact{
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #fc5c1b;
}
/* Tamaño de los titulos  */
.tl-cod {
    /* background: #fff; */
    width: 115px;
    /* margin: 0 !important; */

}
.tl-nom {
    /* background: #fff; */
    width: 200px;
    /* margin: 0 !important; */

}
.tl-des {
    /* background: #fff; */
    width: 250px;
    /* margin: 0 !important; */

}
.tl-pre {
    /* background: #fff; */
    width: 150px;
    display: flex;
    justify-content: center;
    /* margin: 0 !important; */

}
.tl-can {
    /* background: #fff; */
    width: 100px;
    display: flex;
    justify-content: center;
    /* margin: 0 !important; */

}
.in-can, .in-pre{
    width: 50px;
}

.producto-fact{
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
}
.btn-addProducto-fact{
    width: 100%;
    color: #fff;
    background: rgba(252,92,27,1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    

}
.btn-addProducto-fact ion-icon{
    font-size: 32px;
}


.totalFactura{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /* background: #807e7e; */
    width: 100%;
    min-height: 4rem;
    /* align-items: center; */
}
.btn-impimir-factura{
    width: 75%;
    height: 129px;
    /* background: chocolate; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn-generar-fact{
    background: #f78254;
    border: 1px solid #f54702;
    color: #fff;
    width: 300PX;
    height: 60px;
}
.btn-generar-fact:hover{
    background: #0e0d0d;
    border: 1px solid #000000;
    color: #fff;
    /* border: 1px solid #f54702; */
    /* height: 60px; */
}
.contenedor-totales{
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    background: #ffdfbb;
    border-radius: 5px;
    border-left: 1px solid #fc5c1b;
    width: 25%;
    padding-left: 10px;
    /* align-items: center; */
}


/* responsive  */
@media screen and (max-width: 800px) {
    /* Productos  */
    .productos-busqueda{
        /* background: #fff; */
        /* display: flex; */
        flex-direction: column;
        /* justify-content: center; */
    }
    .tarjeta-producto{
        /* text-align: center !important; */
        margin: auto;
        margin-bottom: 20px;
        
    }
    /* Usuarios  */
    .usuarios-busqueda{
        /* background: #fff; */
        /* display: flex; */
        flex-direction: column;
        /* justify-content: center; */
    }
    .tarjeta-usuario{
        /* text-align: center !important; */
        margin: auto;
        margin-bottom: 20px;
        
    }
    /* Facturas  */

}