.Carrito{
    height: 100vh;
    background: #e4e3e3 !important;
    
}

/* Posiciones  */
/* .carrito-productos{
    display: flex;

    align-items: center;
} */
.detalle-productos{

    min-height: 25rem;
}
.productos-noexisten{
    color: rgba(0,0,0,0.4);
}
.productos-noexisten ion-icon{
    font-size: 100px;
    color: rgba(0,0,0,0.4);
}

.carrito-detalle{
    /* grid-column: 1; */
    min-height: 53vh;
    width: 70%;
    border: 1px solid #000;
    margin: 10px;
    border-radius: 10px;
}
.carrito-descripcion{
        /* grid-column: 2; */
        width: 30%;
        border: 1px solid #fc5c1b;
        margin: 10px;
        border-radius: 10px;
        max-height: 30rem;
        /* background: #c2bdbd; */

}
.carrito-logo{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carrito-logo h1{
    border-left: 2px solid #000000;

    color: #000000;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 0;
}
.carrito-logo div{
    border-left: 2px solid #000000;
    margin-left: 10px;
  

}

.carrito-logo ion-icon{
    font-size: 100px !important;
    color: #fc5c1b;
}

.carrito-productos{
    background: #fff;
    border-radius: 5px;
    width: 100%;
    height: auto;
    min-height: 55vh;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
/* Detalle cards  */
.card-carrito{
    margin: 10px;
}
.card-carrito-title{
    background: #f05416 !important;
    margin: 10px;
}
.card-lista-carrito{
    display: flex !important;
    flex-direction: row !important;
}


.card-group-lista-carrito-title{
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.card-group-lista-carrito{
    /* background: #b1cde4; */
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.card-img-lista-carrito img{
    width: 50px;
    height: auto;
}


.descripcion-titulo{

    border-bottom: 1px solid #fc5c1b;
    margin-left: 5px;
    margin-right: 5px;

    /* border-top-right-radius: 10px; */
}
.descripcion-titulo h4{
    
    width: 40%;
    margin-top: 5px;
    margin-left: 5px;
    border-top-left-radius: 10px;
}
.descripcion-detalles, .contenedor-subtotal, .contenedor-total{
    margin-top: 10px;
}

.carrito-condiciones{
    margin: 5px;
}
.carrito-condiciones input:checked{
    /* width: 15px;
    height: 15px; */
    background-color: #fc5c1b !important;
    /* color:  #fff !important; */
    border: 1px solid #fc5c1b !important;
}
.carrito-condiciones label{
    font-size: 12px;
    font-weight: 600;
}
.carrito-delivery{

    border-bottom: 1px solid #fc5c1b;
    margin-left: 5px;
    margin-right: 5px;
    
}
.carrito-delivery label{
    font-size: 13px;
    font-weight: 600;
}
.carrito-delivery input:checked{
    /* width: 15px;
    height: 15px; */
    background-color: #fc5c1b !important;
    /* color:  #fff !important; */
    border: 1px solid #fc5c1b !important;
}
.form-check{
    margin: 15px !important;
}
#emailHelp{
    font-size: 12px;
    color: #fc5c1b;
}
/* Tablas  */
.contenedor-subtotal{
    display: flex;
    flex-direction: row;
  }
.subtotal{
    /* display: inline; */
    width: 79%;
    margin-left: 1%;
}
.cantidad-subtotal{
    /* display: inline; */
    width: 19%;
    margin-right: 1%;
    color: #fc5c1b;
    /* text-align: end; */
}
.cantidad-subtotal h5{
    padding-left: 0 !important;
}
/* Delivery  */
.contenedor-delivery{
    display: flex;
    flex-direction: row;
  }
.delivery{
    /* display: inline; */
    width: 79%;
    margin-left: 1%;
}
.cantidad-delivery{
    /* display: inline; */
    width: 19%;
    margin-right: 1%;
    color: #fc5c1b;
    /* text-align: end; */
}
.cantidad-delivery h5{
    padding-left: 0 !important;
}
.contenedor-total{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #fc5c1b;
    /* margin-left: 5px; */
    margin-right: 5px;
  }
.total{
    /* display: inline; */
    width: 79%;
    margin-left: 1%;
    margin-bottom: 10px;
    
}
.cantidad-total{
    /* display: inline; */
    width: 19%;
    margin-right: 1%;
    color: #fc5c1b;
    /* text-align: end; */
}
.cantidad-total h5{
    padding-left: 0 !important;
}
.detalle-btnVaciar{
    text-align: center;
    
}

/* Botones  */
.vaciar-carrito{
    margin-bottom: 20px;
    background: #860808 !important;
    color: #fff !important;
    border-radius: 0 !important;
    font-weight: 700 !important;
    border: none !important;
    width: 50%;
    margin-top: 5px;
}
.vaciar-carrito:hover{
    background: #a50e0e !important;
}
.carrito-botones{
    /* width: 50%; */
    margin: 15px;
    /* height: 32%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background: #fc5c1b; */
}
.finalizar-pago{
    margin-bottom: 20px;
    background: #084d86 !important;
    color: #fff !important;
    border-radius: 0 !important;
    font-weight: 700 !important;
    border: none !important;
    width: 100%;
    margin-top: 5px;
    /* margin-bottom: 5px; */
    
}
.finalizar-pago:hover{
    background: #0a61a8 !important;
}

.mas-productos{
    width: 100%;
    border: 1px solid rgba(0,0,0,0.4) !important;
    border-radius: 0 !important;
    font-weight: 700 !important;    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
/* Modal Transaccion  */

.seccion-modal-tarjeta-datos{
    display: flex;
    flex-direction: row;
    
}
.modal-form-group{
    margin-top: 20px;
    border-style: none;
}
.modal-title-pago{
    display: flex;
    flex-direction: row;    
    align-items: center;
}
.modal-title-pago h4{
    margin-left: 10px;
    color: #fc5c1b;
    text-align: center;
}
.btn-modal-pago{
    background: #fc5c1b !important;
    border: 1px solid #f05416 !important;
}
.btn-modal-pago:hover{
    background: #ff6d33 !important;
    border: 1px solid #f05416 !important;
}

@media screen and (max-width: 800px) {
    .carrito-productos    {
        /* display: flex; */
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }
    .carrito-descripcion{
        width: 90%;
        
    }
    .carrito-detalle{
        width: 90%;
    }
    .carrito-logo h1{
        border-left: 2px solid #000000;
    
        color: #000000;
        margin-left: 10px;
        padding-left: 10px;
        margin-bottom: 0;
        font-size: 24px;
    }
    .carrito-logo div{
        border-left: 2px solid #000000;
        margin-left: 10px;
      
    
    }
    .carrito-logo ion-icon{
        font-size: 64px !important;
        color: #fc5c1b;
    }
    .card-carrito{
        margin: 0;
    }
    .card-carrito-title{
        margin-top: 0;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .card-img-lista-carrito img{
        width: 30px;
        height: auto;
    }
}