/* perfil de administrador y Operativo */

.PerfilAdmin{
    height: 100vh;
    background: #e4e3e3 !important;
}
.contenedor-perfilAdmin, .contenedor-perfil-operativo{
    min-height: 100vh;
    margin-top: 30px;
}
.opciones-admin{
    margin-top: 30px;
    /* border: 1px solid #fc5c1b; */
    border: 1px solid #2b2727;
    background: rgb(0,0,0);
    background: linear-gradient(10deg, rgba(0,0,0,1) 0%, rgba(252,92,27,1) 72%);

}
.perfil-titulo{
    background: #fc5c1b !important;
    border-bottom: 1px solid #2b2727;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil-titulo h3{
   color: #fff;
   font-weight: bold;
    
}
.opciones{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    min-height: 60vh;
    
}
.opciones-productos{
    margin: auto;
}

.img-producto, .img-usuario, .img-factura{
    font-size: 100px !important;
}
.opciones-usuarios{
    margin: auto;
}
/* .img-usuario{
    font-size: 100px !important;
} */
.opciones-facturas{
    margin: auto;
}
.opciones-modulo-facturacion{
    margin: auto;
}
/* .img-factura{
    font-size: 124px !important;
} */

.cards{
    /* border: 1px solid #fc5c1b; */
    width: 14rem;
}
.card-bodyAdmin{
    background: rgb(247, 214, 68);
}
.cards-title{
    font-weight: bold;
}
.btn-adminOpciones{
    background: #fc5c1b;
    border: #fc5c1b;
    color: #fff;
}
.btn-adminOpciones:hover{
    background: #020202;
    border: #000000;
    color: #fff;
}
/* perfil de Usuario  */
.Perfil-Cliente{
    min-height: 100vh;
    background: #e4e3e3 !important;
}
.contenedor-pefil-usuario{
    min-height: 32rem;
    margin-top: 30px;
    background: #fff;
    padding: 0;
    margin-bottom: 30px;
}
.contenido-perfil{
    /* background: #aee3f3; */
    display: flex;

}
.opciones-usuario{
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid #bdbdbd;
    background: #d6d5d4;
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen ion-icon{
    font-size: 170px;
    color: rgba(0, 0, 0, 0.8);
}

.menu{
    display: flex;
    flex-direction: column;
}
.menu a{
    background: rgba(252,92,27,1);
    margin-top: 10px;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-weight: 600;
}
.menu a:hover{
    background: rgb(255, 255, 255);
    color: #000;
}
.delete-cuenta:hover{
    color: rgb(224, 10, 10) !important;
    background: rgb(255, 255, 255);
}
.info-componentes{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: chartreuse; */
    min-height: 12rem;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    
}
.titulo-info-perfil-user{
    border-bottom: 1px solid #fc5c1b;
    height: 30px;
}
.titulo-info-perfil-user h4{
    color: #fff;
    background: #fc5c1b;
    height: 30px;
    padding-left: 10px;
    width: 290px;
}
.labels{
    display: flex;
    flex-direction: column;
}
.labels label{
    margin-bottom: 2px;
}
.componentes{
    min-height: 20rem;
    /* background: rgb(226, 58, 248); */
}
.card-usuario-fac{
   
    background: #686f86;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}
.card-usuario-fac p, .tarjeta-fact-cliente p{
    text-align: center;
    margin: 0!important;
}
.tarjeta-fact-cliente{
    display: flex !important;
    flex-direction: row !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}

.tarjeta-fact-cliente div{
    
    margin: auto;

}

@media screen and (max-width: 800px) {
    .opciones-admin{
        margin-bottom: 30px;
    }
    .opciones{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .cards{
        /* border: 1px solid #fc5c1b; */
        width: 18rem !important;

        
    }
    .opciones-usuarios{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .opciones-modulo-facturacion{
        margin-top: 30px;
    }
    .contenido-perfil{
        flex-direction: column;
    }
    .opciones-usuario{
        width: 100%;
        margin-bottom: 30px;
    }
    .info-componentes{
        width: 100%;
    }
    
}